*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  text-align: center;
  padding: 2rem;
  padding-top: 0rem;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: .5rem;
  border-width: .1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 1.8rem;
  margin: 0 auto;
  max-width: 80rem;
  padding: 3rem 4rem;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: .2rem;
}

.card-body {
  min-height: 10rem;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: .2rem;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin: 1.6rem 1.6rem 1.6rem 2rem;
  padding: 1.4rem 3.4rem;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 8.5rem;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2rem dashed #c0c7cf;
  border-radius: .6rem;
  resize: none;
  overflow: hidden;
}

/* RESPONSIVE */
/* Tablets */
@media screen and (max-width: 992px) {
  .btn {
    font-size: 1.2rem;
    margin: 1.6rem 0 0 0;
    padding: 1rem 1.5rem;
  }

  #password {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 1rem;
    margin: 1.6rem 0 0 0;
    padding: 1rem 1.5rem;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
    margin: 0.8rem 0 0 0;
    padding: .5rem 1remx;
  }
}
